.input {
	margin: 2rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 40rem;
}

.input label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.input input:not([type='radio']) {
	font: inherit;
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.15rem;
	margin-bottom: 0.5rem;
}

.input li {
	list-style-type: none;
	border: 1px solid #ccc;
	color: #1f95e4;
	padding: 0.2rem;
}

.input button {
	font: inherit;
	border: 1px solid #b111d1;
	background: #1f95e4;
	color: white;
	padding: 0.5rem 2.5rem;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 30px;
}

.input button:disabled {
	background: #ccc;
	border-color: #ccc;
	color: #666666;
	cursor: not-allowed;
}
